
      <!-- - #About Agency--->
      <section class="container-fluid" style="margin-top: 150px;">
        <div class="row">
          <div class="col-sm-8 all-text" style="padding-left: 80px;">
            <br>
                <h4>À PROPOS</h4>
            <hr>
                <h1> Votre passerelle vers , le monde numérique.</h1>
                <p>Bienvenue chez FF-COM, une véritable pépinière de l'innovation digitale. Notre renommée repose sur la collaboration avec les meilleurs développeurs web et talents exceptionnels venant des quatre coins du monde. Chacun de nos experts est un ingénieur de haut niveau, spécialisé dans son domaine. Nous sommes guidés par des valeurs fondamentales telles que le respect, la loyauté et l'intégrité, assurant une synergie harmonieuse entre nos équipes et nos clients.</p>
            <div class="btn">
                <button type="button"><a routerLink="#team">Notre Equipe</a></button>
                <button type="button" class="btn2"><a routerLink="/">Voir Plus</a></button> 
            </div>
            </div>
            <div class="col-sm-4">
            <img src="assets\images\hero-banner.png" alt="" class="img-fluid rounded" style="margin-top: 190px; padding-right:90px;" width="794" height="637" alt="hero banner">
            </div>
        
        </div>
      </section>



     
      <!--- #Team--->

<section class="Team_Section" id="team">
    <div class="team_row">
        <h1 class="title_team">Our Team</h1>

    </div>

    <div class="team_row">
        <!-- Column 1-->
        <div class="team_column">
            <div class="team_card">
                <div class="img-container">
                    <img src="assets\images\Team_Section\man.jpg" />
                </div>
                <h3>Paul Turner</h3>
                <p>Founder</p>
                <div class="team_icons">
                    <a routerLink="#"  style="--color: hsl(203, 89%, 53%);">
                        <ion-icon name="logo-linkedin"></ion-icon> </a>
                </div>
            </div>
        </div>


          <!-- Column 2-->
          <div class="team_column">
            <div class="team_card">
                <div class="img-container">
                    <img src="assets\images\Team_Section\woman.png" />
                    
                </div>
                <h3>Elina barner</h3>
                <p>Manager</p>
                <div>
                    <a routerLink="#" class="team_icons" style="--color: hsl(203, 89%, 53%);">
                        <ion-icon name="logo-linkedin"></ion-icon> </a>
                </div>
            </div>
            
        </div>

          <!-- Column 3-->
          <div class="team_column">
            <div class="team_card">
                <div class="img-container">
                    <img src="assets\images\Team_Section\man.jpg" />
                </div>
                <h3>Marcos Smith</h3>
                <p>Developer</p>
                <div>
                    <a routerLink="#" class="team_icons" style="--color: hsl(203, 89%, 53%);">
                        <ion-icon name="logo-linkedin"></ion-icon> </a>
                </div>
            </div>
        </div>

        
        
        
    </div>

</section>


     