
<main>
    <article>

      <!-- 
        - #HERO
      -->

      <section class="section hero" id="home" aria-label="hero">
        <div class="container">

          <div class="hero-content">

            <h1 class="h1 hero-title">


              Votre passerelle <br> <span class="has-before"> vers </span>, le monde numérique.
            </h1>

            <p class="hero-text">
              Agence digitale spécialisée dans la création de sites Web et d'applications performants et efficaces. Nous vous aidons à atteindre vos objectifs numériques.
            </p>

            <div class="wrapper">
              <a href="#prestation" class="btn btn-primary has-before has-after">Que faisons-nous ?</a>

            </div>

            <ul class="social-list">
              <li>
                <a href="#" class="social-link" style="--color: hsl(241, 77%, 63%);">
                  <ion-icon name="logo-facebook"></ion-icon>

                  <span class="span">Facebook</span>
                </a>
              </li>
              <li>
                <a href="#" class="social-link" style="--color: hsl(203, 89%, 53%);">
                  <ion-icon name="logo-linkedin"></ion-icon>

                  <span class="span">Linkdin</span>
                </a>
              </li>
              <li>
                <a href="#" class="social-link" style="--color: hsl(203, 89%, 53%);">
                  <ion-icon name="logo-twitter"></ion-icon>
                  <span class="span">Twitter</span>
                </a>
              </li>

            </ul>

          </div>

          <figure class="hero-banner">
            <img src="./assets/images/hero-banner.png" width="794" height="637" alt="hero banner" class="w-100">
          </figure>

        </div>
      </section>





      <!-- 
        - #SERVICE
      -->

      <section class="section service" id="prestation" aria-label="service">
        <div class="container">

          <p class="section-subtitle has-before text-center">Nos Prestations:</p>

          <h2 class="h2 section-title text-center">Gérer votre entreprise avec 
            <span class="has-before">nos meilleurs services</span></h2>

            <ul class="grid-list">
                <li>
                
                <div class="service-card" style="--color: 174, 77%, 50%">
                
                    <div class="card-icon">
                    <img src="./assets/images/service-icon-1.png" width="30" height="30" loading="lazy"
                        alt="service icon">
                    </div>

                    <h3 class="h3">
                    <a href="#" class="card-title">Création de site Web</a>
                    </h3>
                </div>


                
            
                </li>

                <li>
                <div class="service-card" style="--color: 267, 76%, 57%">

                    <div class="card-icon">
                    <img src="./assets/images/service-icon-2.png" width="30" height="30" loading="lazy"
                        alt="service icon">
                    </div>
                    <h3 class="h3">
                    <a href="#" class="card-title">Développement Web Sur Mesure </a>
                    </h3>

                </div>
                </li>

                <li>
                <div class="service-card" style="--color: 17, 100%, 68%">
                    <div class="card-icon">
                    <img src="./assets/images/service-icon-3.png" width="30" height="30" loading="lazy" alt="service icon">
                    </div>
                    <h3 class="h3">
                    <a href="#" class="card-title">WebDesign Personnalisé </a>
                    </h3>
                </div>
                </li>
                <li>
                <div class="service-card" style="--color: 343, 98%, 60%">
                    <div class="card-icon">
                    <img src="./assets/images/service-icon-4.png" width="30" height="30" loading="lazy"
                        alt="service icon">
                    </div>
                    <h3 class="h3">
                    <a href="#" class="card-title">Référencement SEO / SEA </a>
                    </h3>

                </div>
                </li>

                <li>
                <div class="service-card" style="--color: 210, 100%, 53%">

                    <div class="card-icon">
                    <img src="./assets/images/service-icon-5.png" width="30" height="30" loading="lazy"
                        alt="service icon">
                    </div>

                    <h3 class="h3">
                    <a href="#" class="card-title">Prospection</a>
                    </h3>

                </div>
                </li>

                <li>
                <div class="service-card" style="--color: 157, 89%, 44%">

                    <div class="card-icon">
                    <img src="./assets/images/service-icon-6.png" width="30" height="30" loading="lazy"
                        alt="service icon">
                    </div>

                    <h3 class="h3">
                    <a href="#" class="card-title">Emailing</a>
                    </h3>

                </div>
                </li>

                <li>
                    <div class="service-card" style="--color: 52, 98%, 50%">

                        <div class="card-icon">
                        <img src="assets/images/service-icon-7.png" width="30" height="30" loading="lazy"
                            alt="service icon">
                        </div>

                        <h3 class="h3">
                        <a href="#" class="card-title"> Mise à jour et maintenance de site Web-Application</a>
                        </h3>

                    </div>
                </li>
            </ul>

        </div>
      </section>





      <!-- 
        - #FEATURE
      -->

      <section class="section feature" id="feature" aria-label="feature">
        <div class="container">

          <figure class="feature-banner">
            <img src="./assets/images/feature-banner.png" width="582" height="585" loading="lazy" alt="feature banner"
              class="w-100">
          </figure>

          <div class="feature-content">

            <p class="section-subtitle has-before">Pourquoi faire confiance à notre expertise ?</p>

            <h2 class="h2 section-title">
              Nos Garanties :<span class="has-before">Une Expertise Fiable et un Engagement Inébranlable</span>
            </h2>
            

            <ul class="feature-list">
              <li>
                <div class="feature-card">

                  <div class="card-icon" style="--color: 174, 77%, 50%">
                    <ion-icon name="rocket-sharp" aria-hidden="true"></ion-icon>
                  </div>

                  <div>
                    <h3 class="h3 card-title">Processus de travail rapide et efficace</h3>

                    <p class="card-text">
                     Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                    </p>
                  </div>

                </div>
              </li>

              <li>
                <div class="feature-card">

                  <div class="card-icon" style="--color: 241, 77%, 63%;">
                    <ion-icon name="people-sharp" aria-hidden="true"></ion-icon>
                  </div>

                  <div>
                    <h3 class="h3 card-title">Équipe dédiée</h3>

                    <p class="card-text">
                      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                    </p>
                  </div>

                </div>
              </li>

              <li>
                <div class="feature-card">

                  <div class="card-icon" style="--color: 343, 98%, 60%;">
                    <ion-icon name="headset-sharp" aria-hidden="true"></ion-icon>
                  </div>

                  <div>
                    <h3 class="h3 card-title">Assistance 24/7</h3>

                    <p class="card-text">
                      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                    </p>
                  </div>

                </div>
              </li>

            </ul>

          </div>

        </div>
      </section>

<!-- ======= Contact Section ======= -->
<section class="contact" id="contact">
  <h2 class="heading" style="text-align: center;">Contactez-nous👋</h2>
  <form action="#">
    <div class="input-box">
      <input type="text" placeholder="Nom Complet">
      <input type="email" placeholder="Adresse email">
    </div>
    <div class="input-box">
      <input type="number" placeholder="numéro de téléphone">
      <input type="text" placeholder="L'objet de l'email">
    </div>
    <textarea name="" id="" cols="30" rows="10" placeholder="Votre Message"></textarea>
    <input type="submit" value="envoyer le message" class="btn">
  </form>

</section>

