
  <footer class="footer">
    <div class="container">

      <div class="footer-top section">

        <div class="footer-brand">

            <p class="footer-list-title">FF-COM</p>

            <p class="footer-text">
                Votre passerelle vers, le monde numérique.          
            </p>

          <ul class="social-list">

            <li>
              <a href="#" class="social-link">
                <ion-icon name="logo-linkedin"></ion-icon>
              </a>
            </li>

            <li>
              <a href="#" class="social-link">
                <ion-icon name="logo-twitter"></ion-icon>
              </a>
            </li>

            <li>
              <a href="#" class="social-link">
                <ion-icon name="logo-facebook"></ion-icon>
              </a>
            </li>

          </ul>

        </div>

        <ul class="footer-list">


         
          <li>
            <p class="footer-list-title">Liens utiles</p>
          </li>

          <li>
            <a href="#" class="footer-link">Accueil</a>
          </li>

          <li>
            <a href="#contact" class="footer-link">Contactez-nous👋</a>
          </li>

          <li>
            <a href="#" class="footer-link">Que faisons-nous?</a>
          </li>

          <li>
            <a href="#" class="footer-link">Conditions d'utilisation</a>
          </li>

        </ul>



      </div>

      <div class="footer-bottom">

        <p class="copyright">
          &copy; 2023 FF-COM. All Rights Reserved FF-COM
        </p>

        <ul class="footer-bottom-list">

          <li>
            <a href="#" class="footer-bottom-link">Conditions d'utilisation</a>
          </li>

          <li>
            <a href="#" class="footer-bottom-link">Politique de confidentialité</a>
          </li>
        </ul>

      </div>

    </div>
  </footer>





  <!-- 
    - #BACK TO TOP
  -->

  <a href="#top" class="back-top-btn has-after active" aria-label="back to top" data-back-top-btn>
    <ion-icon name="arrow-up" aria-hidden="true"></ion-icon>
  </a>