

<section class="container-fluid" style="margin-top: 150px;">
    <h1 class="text-center">Obtenir Un Devis </h1>
    <hr>
    <br>
    <div class="row">
        <!-- Image Column -->
        <div class="col-sm-4 container-fluid  text-white p-3" style="padding: 50px;">
                <img src="assets/images/quotation.png" alt="Image Description" class="img-fluid" style="margin-top: 90px; margin-right: 20px; ">
        </div>
  
        <!-- Form Column -->
        <div class="col-sm-8 p-3" >
                    
            <form>
                <!-- devis-form -->
                <div class="devis-form">
                    
                    <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12 ">
                        <div class="form-group devis-form-group">
                            <input id="name" type="text" placeholder="Nom complet" class="form-control" required>
                            <div class="form-icon"><i class="fa fa-user"></i></div>
                        </div>
                    
                    
            
                    </div>



                    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 ">
                        <div class="form-group devis-form-group">
                            <input id="email" type="email" placeholder="Adresse e-mail" class="form-control" required>
                            <div class="form-icon"><i class="fa fa-envelope"></i></div>
                        </div>
                    </div>




                    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 ">
                        <div class="form-group devis-form-group">
                            <input id="phone" type="text" placeholder="Numéro de téléphone"  class="form-control" required>
                            <div class="form-icon"><i class="fa fa-phone"></i></div>
                        </div>
                    </div>
                



                    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 ">
                        <div class="form-group">
                            <div class="select">
                                <select id="select" name="select" class="form-control">
                                    <option value="">Choisissez un Service</option>
                                    <option value="">Création de site Web </option>
                                    <option value="">WebDesign Personnalisé</option>
                                    <option value="">Développement Web Sur Mesure</option>
                                    <option value="">Référencement SEO / SEA</option>
                                    <option value="">Mise à jour et maintenance de site Web-Application</option>
                                    <option value="">Prospection</option>
                                    <option value="">Emailing</option>
                                    
                                </select>
                            </div>
                        </div>
                    </div>


                    
                    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 ">
                        <div class="form-group">
                            <textarea class="form-control" id="additionalDetails" placeholder="Détails supplémentaires" name="additionalDetails" rows="4" ></textarea>
                        </div>
                    </div>

                    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 ">
                        <button type="submit" class="btn btn-primary has-before has-after">Obtenir un devis</button>
                    </div>

                </div>
            </form>
        </div>   
    </div>
</section>